*
{ margin: 0;
    padding: 0;
 box-sizing: border-box;   
}
.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    gap: 10px;
}
#navbar--category
{
    color: black;
    background-color: transparent;

}
.navbar a 
{
    text-decoration: none;
    color: black;
}
.content2--searchbar input 
{
   padding: 6px 20px;
   border-radius: 20px;
   border: 1px solid black;
   
}
.content2--searchbar
{
    position: relative;
}
.content2--searchbar i 
{
    position: absolute;
    right: 30px;
    
}
.content3--cart
{
    position: relative;

}
.countOfCartItems
{
    position: absolute;
    top: -2px;
    right: 45px;
    z-index: 1;
    border: 1px solid red;
    color: white;
    background-color: red;
    height: 13px;
    width: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 0.5rem;
}
.fa-magnifying-glass
{
    position: absolute;
    left: 200px;
    top: 12px;
}